@using MezunBilgiSistemi.Models;
@using Microsoft.AspNetCore.Identity
@using MezunBilgiSistemi.Areas.Identity.Data
@model AnaSayfaViewModel
@{
    ViewData["Title"] = "Home Page";
}
@inject UserManager<MBSUser> UserManager
<div id="top">

    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="~/img/Slide-DSIY260120211243.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                   
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/img/Slide-BQLA060420211637.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Manisa Celal Bayar Üniversitesi Hafsa Sultan Hastanesi Yeni Poliklinik Binası</h5>
                  
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/img/Slide-JZCK030420201027.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Sosyal Mesafenizi Koruyunuz!</h5>
                     
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/img/Slide-RPXV010420211344.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>MCBÜ Hafsa Sultan Şifahanesi Tıp Tarihi Müzesi</h5>
                    </div>
                </div>  <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/img/Slide-YRBE090320211211.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Şehzadeler Yerleşkesi</h5>
            
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/img/Slide-DSIY260120211243.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                  
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/img/Slide-MJTA030320210918.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                      
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <article class="group">
                <div class="one_half first">
                    <h6 class="heading underline font-x2">MCBÜ Hafsa Sultan Hastanesi’nde PostCovid Polikliniği Hizmete Başladı</h6>
                    <p>MCBÜ Hafsa Sultan Hastanesi’nde COVID-19 enfeksiyonu sonrası uzun dönem şikayetleri devam eden hastalara yönelik PostCovid Polikliniği hizmete başladı. Hasta kabulüne başlayan poliklinikte enfeksiyonu geçiren, ancak özellikle akciğer tutulumuna bağlı solunum şikayetleri devam eden hastaların gözlem ve tedavileri yapılacak.</p>
                    <p class="btmspace-30">
                        Göğüs Hastalıkları Anabilim Dalı bünyesinde faaliyete başlayan Postcovid polikliniğinde, alanında uzman göğüs hastalıkları hekimleri hasta kabulünü gerçekleştirecekler. Konu ile ilgili bilgi veren MCBÜ Tıp Fakültesi Göğüs Hastalıkları Anabilim Dalı Öğretim Üyesi Doç. Dr. Yavuz Havlucu, "COVID-19 geçen yıl ortaya çıkmış bir hastalık olmasına rağmen şimdiden hastalığa yakalananların eski sağlıklarına kavuşmalarının uzun zaman aldığını söyleyebiliyoruz. Korona virüse yakalanan bir kişinin iyileşme süresi, hastalığı ne kadar ağır geçirdiğiyle ilişkili olabilse de her zaman doğru orantılı olmayabiliyor.“Çeşitli şikayetlerle gelen hastaların gün geçtikçe artması ve bu hastaların daha ayrıntılı değerlendirilebilmesi için Manisa Celal Bayar Üniversitesi Göğüs Hastalıkları Kliniğinde Post COVID polikliniği hayata geçirilmiştir..

                    </p>
                    <footer><a class="btn" href="#">Read More</a></footer>
                </div>
                <div class="one_half"><a class="imgover" href="#"><img class="borderedbox inspace-10" src="~/img/Haber1.jpg" alt=""></a></div>
            </article>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper bgded overlay dark" style="background-image:url('../../wwwroot/img/demo/backgrounds/01.png');">
        <div id="shout" class="hoc container clear">
            <!-- ################################################################################################ -->
            <article>
                <h3 class="heading font-x2">Bilim ve İnsan</h3>
                <p>Yenilikçi düşüncenin adresi...</p>
            </article>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <section id="services" class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="center btmspace-80">
                <h6 class="heading underline font-x2">Duyurular</h6>
            </div>
            <ul class="nospace group">
                @if (Model != null)
                {
                    @foreach (var d in Model.duyuruview)
                    {
                        <li class="one_third">
                            <article>
                                <a ><i class="fas fa-bullhorn"></i></a>
                                <h6 class="heading">@d.Tarih.ToString($"{0:dd/MM/yyyy}")</h6>
                                <p>@d.DuyuruAd</p>
                                <footer><a  asp-controller="Home" asp-action="DuyuruDetay"asp-route-id="@d.DuyuruId"><i class="fas fa-arrow-right"></i></a></footer>
                            </article>
                        </li>

                    }
                }
                else
                {
                    <li class="one_third">
                        <article>
                            <a href="#"><i class="fab fa-fort-awesome"></i></a>
                            <h6 class="heading">Duyuru Yayınlanmadı</h6>
                            <p>..........</p>
                            <footer><a href="#"><i class="fas fa-arrow-right"></i></a></footer>
                        </article>
                    </li>
                }
            </ul>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

    <div class="wrapper row3">
        <section id="team" class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="center btmspace-80">
                <h6 class="heading underline font-x2">Mezunlarımızdan Başarı Hikayeleri</h6>
            </div>
            <ul class="nospace group">
                @foreach (var u in Model.usersview)
                {
                    <li class="one_quarter">
                        <article>
                            <figure>
                                <a class="imgover" asp-controller="Home" asp-action="BasariHikayeleri" asp-route-id="@u.Id"><img src="~/images/user/@u.ProfilePicture"style="height:150px;width:150px" alt=""></a>
                                <figcaption class="heading">@u.FirsName  @u.LastName</figcaption>
                            </figure>
                            <em>@u.Business</em>
                            <p>@u.SuccesStory [<a  asp-controller="Home" asp-action="BasariHikayeleri" asp-route-id="@u.Id">&hellip;</a>]</p>
                            <footer>
                                <ul class="faico clear">
                                    <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </footer>
                        </article>

                    </li>
                    @*<li class="one_quarter">
                        <article>
                            <figure>
                                <a class="imgover" href="#"><img src="~/img/demo/avatar3.png" alt=""></a>
                                <figcaption class="heading">@u.FirsName  @u.LastName</figcaption>
                            </figure>
                            <em>@u.Business</em>
                            <p>@u.SuccesStory [<a href="#">&hellip;</a>]</p>
                            <footer>
                                <ul class="faico clear">
                                    <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <figure>
                                <a class="imgover" href="#"><img src="~/img/demo/avatar3.png" alt=""></a>
                                <figcaption class="heading">@u.FirsName  @u.LastName</figcaption>
                            </figure>
                            <em>@u.Business</em>
                            <p>@u.SuccesStory [<a href="#">&hellip;</a>]</p>
                            <footer>
                                <ul class="faico clear">
                                    <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <figure>
                                <a class="imgover" href="#"><img src="~/img/demo/avatar3.png" alt=""></a>
                                <figcaption class="heading">@u.FirsName  @u.LastName</figcaption>
                            </figure>
                            <em>@u.Business</em>
                            <p>@u.SuccesStory [<a href="#">&hellip;</a>]</p>
                            <footer>
                                <ul class="faico clear">
                                    <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <figure>
                                <a class="imgover" href="#"><img src="~/img/demo/avatar3.png" alt=""></a>
                                <figcaption class="heading">@u.FirsName  @u.LastName</figcaption>
                            </figure>
                            <em>@u.Business</em>
                            <p>@u.SuccesStory [<a href="#">&hellip;</a>]</p>
                            <footer>
                                <ul class="faico clear">
                                    <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <figure>
                                <a class="imgover" href="#"><img src="~/img/demo/avatar3.png" alt=""></a>
                                <figcaption class="heading">@u.FirsName  @u.LastName</figcaption>
                            </figure>
                            <em>@u.Business</em>
                            <p>@u.SuccesStory [<a href="#">&hellip;</a>]</p>
                            <footer>
                                <ul class="faico clear">
                                    <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article>
                            <figure>
                                <a class="imgover" href="#"><img src="~/img/demo/avatar3.png" alt=""></a>
                                <figcaption class="heading">@u.FirsName  @u.LastName</figcaption>
                            </figure>
                            <em>@u.Business</em>
                            <p>@u.SuccesStory [<a href="#">&hellip;</a>]</p>
                            <footer>
                                <ul class="faico clear">
                                    <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                                </ul>
                            </footer>
                        </article>
                    </li>*@



                }
            </ul>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->




</div>